html,body,h1{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #585858;
    margin: 0em;
}
h1{
    font-size: 45px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 1em 0 0 0.4em;
}
/* for slide*/
@keyframes slideleft{
    from{
        background-position: 0%;
        
    }to{
        background-position: 80000%;
    }
}
.my_main{
    background-image: url(index.jpeg);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    
}
.mainpage{
    background:rgba(0,0,0,0.7);
    min-height: 100vh;
}
.icon1{
    margin:0 0 1em;
    padding:.8em 1em;
    background: rgba(255,255,255,0.94);
    
}
.icon1 span.fa{
    color:#222;
    width: 22px;
}
.main_icon{
    text-align: center;
}
.bottom {
    margin: 1em 0 0;
}
.header-main {
    max-width: 310px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    padding: 3em 2em;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.header-left-bottom input[type="user"] {
    outline: none;
    font-size: 15px;
    color: #222;
    border:none;
    width: 90%;
    display: inline-block;
    background: transparent;
    letter-spacing: 1px;
}
.header-left-bottom input[type="password"]{
    outline: none;
    font-size: 15px;
    color: #222;
    border:none;
    width: 90%;
    display: inline-block;
    background: transparent;
    letter-spacing: 1px;
}
.header-left-bottom button.btn {
    background: #007cc0;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: .8em 2em;
    letter-spacing: 1px;
    transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
}
.header-left-bottom p {
    font-size: 17px;
    color: #000;
    display: inline-block;
    width: 50%;
    margin: 20px 0 0;
    letter-spacing: 1px;
}
.header-left-bottom p.right {
    text-align: right;
}







